*.o
bdc
temp.cpp
lexer.cpp
lexer.h
parser.cpp
parser.hpp
tests/*.stat
tests/*.stath
tests/*.dyn
tests/*.dynh
tests/*.func
tests/*.funch
tests/*.globalh
tests/*.init
tests/*.exit
tests/*.bbl
tests/*.img
tests/*.ins
tests/*.rtn
tests/*.ptype
tests/temp.cpp
